.projects .card {
    background-color: #1d1d1d;
    height: 100%;
    transition: 0.2s ease;
}

.projects .card:hover{
   border-bottom: 1px solid #007bff;
   transition: 0.2s ease;
}

.card-content {
    height: 130px;
}

/*  */
.list-group-item{
    background-color: transparent;
    transition: 0.1s ease-in;
    transform: scale(0.97)
}

.list-group-item:hover {
    transform: scale(1) !important;
    transition: 0.1s ease-in;
}
