<div class="container section">

    <div class="text-center">
            <h2 class="font orange mb-3 mt-5">Contact</h2>
            <p class="lead">You can see more of my projects on GutHub and CodePen. Also, feel free to contact me.</p>
            <i class="far fa-envelope fa-2x orange" ></i>
            <p> andrejic.bogdan@yahoo.com</p>
            <img src="../../assets/img/bvm.jpg" alt="image" class="img-fluid rounded-circle mb-3">
    </div>

    <div class="row">

        
        <div class="col text-center">
            <a href="https://github.com/boxulavm" target="blank" ><i class="fab fa-github fa-2x mx-1"></i></a>
            <a href='https://codepen.io/boxula_von_matterhorn/#' target="blank"><i class="fab fa-codepen fa-2x mx-1"></i></a>
        </div>


    </div>
</div>